

<div class="container">
    <div class="container" id="article-container">
        <div class="container">
            <div class="row container">
                <div id="article-cards-holder"> 
                    {{#each items}} 
                        <div class="col s3">
                            <div class="card transparent" >
                                <div class="card-content" id="article-card">
                                    <span class="card-title">                 
                                        <a id="save" class="btn-floating btn waves-effect waves-light green right save-article">
                                        <i class="material-icons">add</i>
                                        </a>
                                        <h5> {{title}} </h5>
                                    </span>
                                    <span class="summary">
                                        <p>{{summary}}</p>
                                    </span>
                                </div>
                                <div class="card-action center">
                                    <a class="btn" id="view-article-btn" target="_blank" href="{{url}}"> 
                                        View Article 
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
