<div class="container">
    <div class="container" id="article-container">
        <div class="container">
            <div class="row container">
                <div id="article-cards-holder"> 
                    {{#each items}} 
                        <div class="col s3">
                            <div class="card transparent" >
                                <div class="card-content" id="article-card">
                                    <span class="card-title">                 
                                        <span id="unsave-btn"> 
                                            <btn class="btn-floating btn waves-effect waves-light red right">
                                            <i class="material-icons unsave-btn">
                                                remove
                                                </i>
                                            </btn>
                                        </span>
                                        <h5> {{title}} </h5>
                                    </span>
                                    <span class="summary">
                                        <p>{{summary}}</p>
                                    </span>
                                </div>
                                <div class="card-action center">
                                    <a id="article-notes" data-target="notes-modal" class="modal-trigger">
                                        Article Notes
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
