
html{
color: black;
}
.container{
width: 100%;
}
html{
    background-image: url("");
    background-color: #fbf7f5;
    background-position-x: 40%;
}
a{
    color: black;
}

#logo, #article-container{
    width: 90%;
    margin: 1% 0 0 12% ;
}
#article-container{
    padding-top: 2%;
}
#logo{
    border-top: 5px black double;
    border-bottom: 5px black double;
    padding: 5%;
    padding-bottom: 2%;
}
.footer{
    border-top: 5px black double;
    border-bottom: 5px black double;
    margin: 5% 0 0 12% ;

}
.side-nav{
    width: 12%;
}

.modal{
    width: 500px;
    height: 450px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
    
textarea{
    height: 150px;
}

.card-action{
margin-top: 10%;
}
#add-note-title{
color: orangered;
}

#article-card{
height: 350px;
margin: 2%;
}

#view-article-btn{
margin-top: 10%;

}
